* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(23,255,139,1) 0%, rgba(134,251,251,1) 100%);
}

.contact-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #107361;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:20px;
}

form button:hover {
  background-color:#BDE038;
}

footer{
  text-align:center;
  padding:4rem 0;
  }
footer ul{
  list-style:none;
  padding:0;
  margin:2rem 0;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  gap:3rem;
  
  
}

body{
  background-color: #107361;
}

h2{
  color:white;
  font-family:mono
}

a [class*="fa-"]{
  font-size:150%;
  color:#BDE038;
}


@media (min-width:850px){
  nav {
    max-width: 1200px;
    margin:0 auto;
  }
  
  nav li:first-child{
    flex-basis:auto;
    text-align:left;
    margin-right:auto;
}
}

p{
  color:var(--white);
  font-size:1rem;
}
