body{
  font-family:comic sans MS;
}

.navbar{
  width:auto;
  height:80px;
  justify-content: end;
}

.logo{
    height: 60px;
    top: 3px;
    display:flex;
    align-content:start;
  }



.click{
  border:3px solid;
  padding:10px;
  margin-right:10px;
  border-radius:15px;
  background-color:white;
 
  margin-inline:3px;
}

.click:hover{
  background-color:green;

}

p{
  font-size:20px;
}

.text{
  border: 1px solid black;
  margin-inline:3px;
  padding:7px;
  border-radius:25px;
  
}





.grid{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  
}

.grid-picture{
  width: 250px;
  margin: 10px;
  padding: 10px;
  margin-top: 30px;
}

.btn-1{
  width:90px;
  border:3px solid;
  padding:10px;
  margin-left:60px;
  border-radius:5px;
  color:black;

}

.btn-1:hover{
  background-color:green;
}




  @keyframes discount{
    100%,
    0%{
      color: rgb(255,0,0);
    }
    8%{
      color: rgb(255,127,0);
    }
    16%{
      color: rgb(255,255,0);
    }
    25%{
      color: rgb(127,255,0);
    }
    33%{
      color: rgb(0,255,0);
    }
    41%{
      color: rgb(0,255,127);
    }
    50%{
      color: rgb(0,255,255);
    }
  }
  
  .discount{
    animation: discount 2s infinite linear;
    font-size: 40px;
    align-items: center;
    display:flex;
    justify-content: center;
    margin-bottom:50px;
  }

.container{
  max-width:1170px;
  background-color: red;
  margin:auto;
}


.row{
  display:flex;
  flex-wrap:wrap;
}
ul{
  list-style:none;
}
.footer{
  background-color:#24262b;
  padding:40px 0;
  justify-content:end;
}
.footer-col{
  width:25%;
  padding:0 15px;
  

}
.footer-col h4{
  font-size: 20px;
  color:#ffffff;
 margin-bottom: 30px;
 font-weight: 500px;
 position: relative;

}

/* reponsive */
@media(max-width:768px){
  .footer-col{
      width:50%;
      padding:0 15px;
      margin-bottom:30px;
  }
}
@media(max-width:574px){
  .footer-col{
      width:50%;
      padding:100px;
     
  }
}