body{
  background-color: #000000;
}

.navbar{
  background-color: #ea1c2c;
  height:80px;
  padding:30px;
  margin:30px;
  border-radius:20px;
  
}


.best{
    color:red;
    font-size: x-large;
    border-radius: 15%;
    border-color: #ea1c2c;
}

.best:hover{
  font-size: 24px;
  text-align: center;
  background-color:#000000;
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}

.bash p{
  color:#ffffff;
  font-size:1.125rem;
  line-height:2;
  
}

.bash h2{
    color:#ea1c2c;
    font-weight:100;
    font-size:2.5rem;
  }

