body{
  background-color:#10403B;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
  background-color: #107361;;
  height:90px;
  /* padding:30px;
  margin:30px; */
  
  align-content: center;
}

h5{
  margin:5px;
  color:#fff;

}

.number{
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date{
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius:25px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn{
  margin:10px;
  background-color:#ffffff;
  border-radius:25px;
  
}

.form-control{
  border-radius:25px;
}


.best{
    font-size: x-large;
    border-radius:25px;
    /* background-color: #BDE038; */
   
   
}

.best:hover{
  font-size: 24px;
  text-align: center;
  background-color:#107361;
  /* box-shadow: 0 5px #ffffff; */
  /* transform: translateY(4px); */
}

.bash p{
  color:#ffffff;
  font-size:1.125rem;
  line-height:2;
  margin-top:20px;
  
}

.bash h2{
    color:#BDE038;
    font-weight:100;
    font-size:2.5rem;
    margin:0 20px;
   
  }



  
  .container{
    max-width:1170px;
    /* background-color: red; */
    margin:auto;
  }
  
  
  .row{
    display:flex;
    flex-wrap:wrap;
  }
  ul{
    list-style:none;
  }

  .gradient{
    background: linear-gradient(90deg, rgba(23,255,139,1) 0%, rgba(134,251,251,1) 100%);
    height:2px;
}

  .footer{
    background-color:#107361;
    padding:40px 0;
    justify-content:end;
  }
  .footer-col {
    width:25%;
    padding:0 15px;
    }
  
    .footer-col a{
      color:#BDE038;
    }
  
  .footer-col h4{
    font-size: 20px;
    color:#ffffff;
   margin-bottom: 30px;
   font-weight: 500px;
   position: relative;
   margin-left:40px;
   
  
  }
  
  .social-links{
    margin-left:50px;
    
  }
  
  .social-links i{
    color:#BDE038;
    margin-inline:4px;
  }
  
  .BN-1{
    border:1px solid #24262b;
    border-radius:15px;
    width:150px;
    background-color:white;
    color:black;
    font-size:20px;
  }
  
  .BN-1:hover{
    background-color:#107361;
    transform: translateY(4px);
    box-shadow: 0 5px #ffffff;
  }
  
  h3{
    font-size:50px;
    font-weight: 30px;
  }
  
  /* reponsive */
  @media(max-width:768px){
    .footer-col{
        width:50%;
        padding:0 15px;
        margin-bottom:30px;
    }
  }
  @media(max-width:574px){
    .footer-col{
        width:50%;
        padding:100px;
       
    }
  }
  
  p{
    font-size:25px;
    color: white;
  }